body {
  margin: 0;
  padding: 0;
  font-style: 12px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.appWrapper {
  background-image: url(./img/bgbig.jpeg);
  background-size: cover;
  display: grid;
  min-height: 100vh;

  /* areas template */
  grid-template-areas:
    "header header""nav content";
  /* 2 rows - 60px and second 1 frakcija */
  grid-template-rows: 120px 1fr;
  /* Two columns */
  grid-template-columns: 120px 1fr;
  /* gap between elements */
  /* grid-gap: 10px; */
}

.appWrapper .header {
  grid-area: header;
  height: 120px;
  background-color: rgba(161, 239, 163, 0.6);

}

.appWrapper .header .logo {
  vertical-align: middle;
  display: inline-block;
}

.appWrapper .header img {
  width: 120px;
}

.appWrapper .mainText {
  display: inline-block;
  font-size: 5em;
  padding-left: 1em;
  vertical-align: middle;
}

.appWrapper .nav {
  grid-area: nav;
  text-align: center;
  padding-bottom: 3px;
  padding-top: 3px;
  color: black;
  background-color: rgba(256, 256, 256, 0.9);
  font-size: 1.5em;
}

.appWrapper .content {
  grid-area: content;
}

.appWrapper .content .contentText {
  margin: 1em 1em;
  padding: 1ex 1ex;
  background-color: rgba(256, 256, 256, 0.9);
  text-align: center;
}



.appWrapper .content .contentText .profImg {
  background: #000;
  height: 200px;
  width: auto;
  background-image: url(./img/colors.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Only 4 dialogs component */
.appWrapper .content .contentText .dialogWrap {
  display: grid;
  /* areas template */
  grid-template-areas: "peopleList messageList";
  /* 2 rows - 60px and second 1 frakcija */
  grid-template-rows: 1fr;
  /* Two columns */
  grid-template-columns: 1fr 11fr;
  /* gap between elements */
  grid-gap: 2em;
  max-width: 800px;
  padding: 2em 2em;
}

.appWrapper .content .contentText .dialogWrap .peopleList {
  grid-area: peopleList;
}

.appWrapper .content .contentText .dialogWrap .messageList {
  grid-area: messageList;
}

.appWrapper .content .contentText .dialogWrap .messageList .msgMy {
  display: grid;
  grid-template-areas: "msg author";
  grid-template-rows: 1fr;
  grid-template-columns: 11fr 1fr;
  background-color: rgba(256, 256, 256, 0.5);
}

.appWrapper .content .contentText .dialogWrap .messageList .msgMy .msg {
  text-align: right;
}

.appWrapper .content .contentText .dialogWrap .messageList .msgOther .msg {
  text-align: left;
}

.appWrapper .content .contentText .dialogWrap .messageList .msgOther {
  display: grid;
  grid-template-areas: "author msg";
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10fr;
  background-color: rgba(256, 256, 256, 0.8);
}

.appWrapper .content .contentText .dialogWrap .messageList .msg {
  grid-area: msg;
}

.appWrapper .content .contentText .dialogWrap .messageList .author {
  grid-area: author;
  font-weight: bold;
}


@media only screen and (max-width: 1000px) {
  .appWrapper .mainText {
    font-size: 3em;
  }
}

@media only screen and (max-width: 650px) {
  .appWrapper .mainText {
    font-size: 2em;
  }
}