body {
  margin: 0;
  padding: 0;
  font-style: 12px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.appWrapper {
  background-image: url(./img/bgbig.jpeg);
  background-size: cover;
  display: grid;
  min-height: 100vh;

  /* areas template */
  grid-template-areas:
    "header header""nav content";
  /* 2 rows - 60px and second 1 frakcija */
  grid-template-rows: 120px 1fr;
  /* Two columns */
  grid-template-columns: 120px 1fr;
  /* gap between elements */
  /* grid-gap: 10px; */
}

.content {
  grid-area: content;
 }

@media only screen and (max-width: 650px) {
  .appWrapper {
    background-image: url(./img/bgbig.jpeg);
    background-size: cover;
    display: grid;
    min-height: 100vh;
    grid-template-areas:
      "header header""nav content";
    grid-template-rows: 50px 1fr;
    grid-template-columns: 120px 1fr;
  }
}